

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    p {
        font-size: 24px;
    }
}
a {
    color: white;
    font-size: 18px;

    &:hover {
        color: aqua;
    }
}
.carrito a {
    font-size: 30px;
}

nav .carrito {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

nav .carrito:hover {
    animation: girar 0.3s ease-in-out 2;
}



ul {
    display: flex;
    align-items: center;
    gap: 20px;
}



li {
    list-style: none;
}



@keyframes girar {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}
