#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*************************************************************** header y footer */
header {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('./assets/images/Header.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.espacio {
  flex: 1;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
/*************************************************************** header y footer */


/*************************************************************** navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  
  p {
    font-size: 24px;
  }
}
a {
  color: white;
  font-size: 18px;
  
  &:hover {
    color: rgb(253, 255, 138);
  }
}
.carrito a {
  font-size: 30px;
}

nav .carrito {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

nav .carrito:hover {
  animation: girar 0.3s ease-in-out 2;
}



ul {
  display: flex;
  align-items: center;
  gap: 20px;
}



li {
  list-style: none;
}



@keyframes girar {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
/*************************************************************** navbar */


/*************************************************************** card */
.cards {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}


.cardpizza {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: 500px;
  border: solid 2px white;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
  img {
    width: 100%;
    height: auto;
  }
}


.cardpizza-content {
  padding: 15px;
  flex: 1;
}
.cardpizza-content h3 {
  margin: 0;
  font-size: 24px;
}

.cardpizza-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  padding: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.btn-secondary {
  background-color: #0c0c0c;
  color: #ffffff;
  &:hover {
    background-color: #161616;
  }
}
.btn-primary {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  &:hover {
    background-color: rgb(253, 255, 138);
  }
}



@media (max-width: 768px) {
  .cards {
      flex-direction: column;
      gap: 30px;
  }

  .cardpizza {
    max-width: 400px;
    height: fit-content;
  }
}








/******************************************** Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background-color: #333;
  width: 90%;
  height: 60vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.registro-exitoso {
  font-size: 30px;
}
/******************************************** Popup */



/******************************************** Login y Register */
.register-form, .login-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  height: 100%;

  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #555;
    &:hover {
      background-color: #5555559a;
    }
  }
}
  
.register-content, .login-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {flex: 1; text-align: start; height: 50px; display: flex; align-items: center;}
  input {flex: 1.5; height: 30px;}
}
.mensaje-error {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  pointer-events: none;
  z-index: 999;
}
/******************************************** Login y Register */







